/* General Styles *

/* Players */
.card {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden; 
}

.player_alive,
.player_dead { 
  position: relative; /* positioning of the pseudoelement */
  overflow: hidden; 
}

.player_alive::before,
.player_dead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: white; 
  transform: translateX(-100%); 
}

.player_alive:hover::before,
.player_dead:hover::before {
    animation: swipeAnimation 0.3s ease forwards; 
} 

@keyframes swipeAnimation {
    from {
      transform: translateX(-100%);  /*  What's outside of the card */
    }
    to {
      transform: translateX(100%);  /*  Ends outside of the card */
    }
  }

/* Footer */
footer {
    background-color: #0a0a0a;
    padding: 20px 0;
    text-align: center;
}
