/* General Styles *

/* Players */
.card {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden; 
}

.player_alive,
.player_dead { 
  position: relative; /* positioning of the pseudoelement */
  overflow: hidden; 
}

.player_alive::before,
.player_dead::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: white; 
  transform: translateX(-100%); 
}

.player_alive:hover::before,
.player_dead:hover::before {
    animation: swipeAnimation 0.3s ease forwards; 
} 

@keyframes swipeAnimation {
    from {
      transform: translateX(-100%);  /*  What's outside of the card */
    }
    to {
      transform: translateX(100%);  /*  Ends outside of the card */
    }
  }

/* Rules Styling */
.rules-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.rules-picture {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  /* Adds the animation for sliding and fading */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .reglas-container {
      padding: 10px; /* Reduces padding on mobile */
  }
}

.gallery-image {
  border-radius: 10px; /* Ajusta el valor según tus necesidades */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
  transition: transform 0.3s ease, border-radius 0.3s ease; /* Agrega una transición suave al hacer hover */
}

.gallery-image:hover {
  transform: scale(1.1); /* Ajusta el tamaño de la imagen al hacer hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Agrega una sombra más oscura al hacer hover */
  border-radius: 10px; /* Mantén la esquina redondeada durante la transición */
}

/* Footer */
footer {
    background-color: #0a0a0a;
    padding: 20px 0;
    text-align: center;
}
